<%= javascript_include_tag "//static.opentok.com/webrtc/v2.2/js/TB.min.js" %>
<h1>Your stream</h1>
<div id="publisher"></div>
Link to your stream: <%= link_to watch_url(@stream.user.id), watch_url(@stream.user.id) %>

<script type="text/javascript">
  (function() {
  $(function() {
    var publisher, session, videoOptions;
    if ($('#publisher').length) {
      session = TB.initSession(gon.opentok.sessionId);
      videoOptions = {
        width: 640,
        height: 480
      };
      publisher = TB.initPublisher(gon.opentok.apiKey, 'publisher', videoOptions);
      session.on({
        sessionConnected: function(event) {
          if (session.capabilities.publish === 1) {
            return session.publish(publisher );
          } else {

          }
        }
      });
      return session.connect(gon.opentok.apiKey, gon.opentok.token);
    }
  });

}).call(this);
</script>