<%= javascript_include_tag "//static.opentok.com/webrtc/v2.2/js/TB.min.js" %>
<h1><%= @stream.user.email %>'s stream</h1>
<div id="stream"></div>
<script>
  (function() {
  $(function() {
    var session, videoOptions;
    if ($('#stream').length) {
      session = TB.initSession(gon.opentok.sessionId);
      videoOptions = {
        width: 640,
        height: 480
      };
      session.on({
        streamCreated: function(event) {
          return session.subscribe(event.stream, $('#stream')[0], videoOptions);
        }
      });
      return session.connect(gon.opentok.apiKey, gon.opentok.token);
    }
  });

}).call(this);
</script>